target
.idea
!.idea/icon.svg
*.iws
*.ipr
*.iml
.settings
.classpath
.project
ignored.*
generated
generated_*
.sdkmanrc
src/main/minisite/content/cli
.generated
pom.xml.releaseBackup
release.properties
